<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="info" internalLogToConsole="true" throwExceptions="true">

	<targets>

		<target xsi:type="Null" name="hole" formatMessage="false"  />

		<target
			name="file"
			type="File"
			fileName="server.txt"
			layout="${longdate} ${logger} [${level:uppercase=true}] : ${message} ${exception:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace:separator=\n:innerExceptionSeparator=\n\n:maxInnerExceptionLevel=10	}"
		/>

		<target
			name="trace"
			type="Trace"
			layout="${longdate} ${logger} [${level:uppercase=true}] : ${message} ${exception:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace:separator=\n:innerExceptionSeparator=\n\n:maxInnerExceptionLevel=10	}"
		/>

		<target name="console" xsi:type="ColoredConsole" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss} ${logger} [${level:uppercase=true}] : ${message} ${exception:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace:separator=\n:innerExceptionSeparator=\n\n:maxInnerExceptionLevel=10	}" >
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Magenta"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Blue"/>
		</target>

	</targets>

	<rules>
		<logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Info" writeTo="hole" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" writeTo="hole" final="true" />
		<logger name="*" minlevel="Debug" writeTo="trace" />
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>

</nlog>